<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
</head>
<body>

  <div style="width:300px" align="center">

    <div style="background-color:black;line-height:50px;height:50px">
      <p style="color:white">书籍详情</p>
    </div>
    <div style="width:300px;height:450px;overflow:scroll">
      <div style="width:300px;height:180px;" align="center">
        <div style="width:120px;height:180px;float:left;margin:10px auto">
          <img src="https://img3.doubanio.com/mpic/s29536350.jpg">
        </div>
        <div style="width:180px;height:180px;float:left">
          <p align="left">发布人昵称：{{ nickname }}</p>
          <p align="left">发布人坐标：{{ location }}</p>
          <p align="left">发布人微信：</p>
          <p align="left">{{ wechat }}</p>
        </div>
      </div>

      <div style="width:300px;height:270px">
        <p align="left">书名：{{ title }}</p>
        <p align="left">作者：{{ author }}</p>
        <p align="left">出版社：{{ publisher }}</p>
        <p align="left">isbn号：{{ isbn }}</p>
        <p align="left">豆瓣网：</p>
        <p align="left">{{ alt }}</p>
        <p align="left">简介：</p>
        <p align="left">{{ summary }}</p>
      </div>
    </div>

    <div style="background-color:white;line-height;50px:height:50px">
      <form>
      <input type="button" name="close" value="关闭窗口" style="height:40px;width:147px;" onclick="window.close();" />
      </form>
    </div>

  </div>

</body>
</html>
