<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
</head>
<body>

  <div style="width:300px" align="center">
    <div style="background-color:black;line-height:50px;height:50px">
      <h4 align="center" style="color:white">帮助文档</h4>
    </div>
    <div style="height:450px">
      <p>{{ help_file }}</p>
    </div>
    <div style="background-color:white;line-height;50px:height:50px">
      <form>
      <input type="submit" value="返回" name="return" onclick=”javascript:history.back(-1)" style="height:40px;width:300px;">
      </form>
    </div>
  </div>

</body>
</html>
