<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
</head>
<body>

  <div style="width:300px" align="center">

    <div style="background-color:black;line-height:50px;height:50px">
      <h4 align="center" style="color:white">登录</h4>
    </div>

{% for messages in get_flashed_messages() %}
    <div>{{ messages}}</div>
{% endfor %}

    <div style="height:450px;">
      
        <form action = "/login"  method="post">
            <div style="height:50px">
            <p align="left">用户名（常用邮箱号）</p>
            </div>
        <input type="text" name="user_name" style="height:20px;width:292px;float:left">

        <div style="height:50px">
        <p align="left">密码</p>
        <input type="text" name="password" style="height:20px;width:292px;float:left">
        </div>

        <br>

      <div style="height:50px" >
        <div style="width:20px;height:50px;float:left;">
          <input type="checkbox" name="remember" value="memory" style="margin:20px auto">
        </div>
        <div style="width:132px;height:50px;float:left;">
          <p align="left">记住我</p>
        </div>
        <div style="width:148;height:50px;float:left;">
          <input type="submit" value="登入" name="action" style="height:30px;width:148px;margin:12px auto">
        </div>
      </div>
      
        </form>
    </div>

    <div style="background-color:white;line-height;50px:height:50px">
      <form action = "/register" >
      <input type="submit" value="注册" name="action" style="height:40px;width:147px;">
      </form>
    </div>

  </div>

</body>
</html>
