<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
</head>
<body>

  <div style="width:300px" align="center">

    <div style="background-color:black;line-height:50px;height:50px">
      <h4 align="center" style="color:white">注册</h4>
    </div>

    <div style="height:450px;">
        <form action = "register_submit">

        <div style="height:50px">
        <p align="left">用户名（请填写常用邮箱号）</p>
        <input type="text" name="user_name" style="height:20px;width:292px;float:left">
        </div>
        
        <div style="height:50px">
        <p align="left">密码（8位以上数字或字母）</p> 
        <input type="text" name="password" style="height:20px;width:292px;float:left">
      </div>

        <div style="height:50px">
        <p align="left">昵称</p>
        <input type="text" name="nickname" style="height:20px;width:292px;float:left">
        </div>

      <div style="height:50px">
        <p align="left">微信号</p>
        <input type="text" name="wechat" style="height:20px;width:292px;float:left">
      </div>

      <div style="height:50px">
        <p align="left">所在城市</p>
        <input type="text" name="location" style="height:20px;width:292px;float:left">
      </div>
      <br>

        <div style="height:50px" >
        <div style="width:20px;height:50px;float:left;">
          <input type="checkbox" name="agreement" value="agree" style="margin:20px auto">
        </div>
        <div style="width:132px;height:50px;float:left;">
          <a href="/agreement_information">
          <p align="left">我已阅读协议</p></a>
        </div>
        <div style="width:148;height:50px;float:left;">
          <input type="submit" value="提交" name="action" style="height:30px;width:148px;margin:12px auto">
        </div>
      </div>

        </form>
    </div>

    <div style="background-color:white;line-height;50px:height:50px">
    <!--
      <form action = "register">
      <input type="submit" value="注册" name="action" style="height:40px;width:147px;">
      </form>
    -->
      <!--增加的地方-->
      <form action = "login">
      <input type="submit" value="登录" name="action" style="height:40px;width:148px;">
      </form>
       <!--结束-->
    </div>

  </div>

</body>
</html>



