<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
</head>
<body>

  <div style="width:300px">

    <div style="background-color:black;line-height:50px;height:50px">
      <form>
      <input type="submit" value="发布书" name="" style="background-color:black;color:white;height:40px;width:80px;border:none">
      <input type="submit" value="帮助" name="help" style="height:30px;width:48px">
      <input type="submit" value="修改个人信息" name="modify_information" style="height:30px;width:105px">
      <input type="submit" value="登出" name="Logout" style="height:30px;width:48px">
      </form>
    </div>
    <div style="background-color:white;line-height:50px;height:50px">
      <form>
      <input type="text" name="input_release" style="height:20px;width:240px">
      <input type="submit" value="发布" name="release" style="height:30px;width:48px">
      </form>
    </div>
    <div style="width:300px;height:50px">
      <p align="left">{{ release_information }}</p>
    </div>
    <div style="width:300px;height:300px;overflow:scroll">
      <div style="width:300px;height:180px;">
        <div style="width:120px;height:180px;float:left;margin:10px auto">
          <img src="https://img3.doubanio.com/mpic/s29536350.jpg">
        </div>
        <div style="width:180px;height:180px;float:left">
          <p align="left">发布人昵称：{{ nickname }}</p>
          <p align="left">发布人坐标：{{ location }}</p>
          <p align="left">发布人微信：</p>
          <p align="left">{{ wechat }}</p>
        </div>
      </div>
      <div style="width:300px;height:120px">
        <p align="left">书名：{{ title }}</p>
        <p align="left">作者：{{ author }}</p>
        <p align="left">出版社：{{ publisher }}</p>
        <p align="left">isbn号：{{ isbn }}</p>
        <p align="left">豆瓣网：</p>
        <p align="left">{{ alt }}</p>
      </div>
    </div>
    <div style="width:300px;height:50px;" align="left">
      <form>
      <input type="submit" value="提交" name="refer" style="height:30px;width:80px;">
      </form>
    </div>

    <div style="background-color:white;line-height;50px:height:50px">
      <form>
      <input type="submit" value="搜索书" name="search_books" style="height:40px;width:147px;">
      <input type="submit" value="我的书" name="my_books" style="height:40px;width:148px;">
      </form>
    </div>

  </div>

</body>
</html>
