{% extends "base.html" %}

{% block title %}BookCrossing{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated %}
    <hr>
		<div class="container" align="center">
        <div>
            <h3>按照坐标查找朋友！</h3>
        </div>
        <hr>
        <div class="col-sm-4"></div>
        <div class="list-group col-sm-4">
        <a href="#" class="list-group-item active">
            <h4>朋友所在坐标：</h4>
        </a>
        {% for i in list_lo %}
            <a href="/friendlocation/{{ i }}" class="list-group-item">{{ i }}</a>
        {% endfor %}
        </div>
        <div class="col-sm-4"></div>
    </div>
		<footer>
		    <div class="container">
		        <p class="text-center text-white">Copyright &copy; Bookcrossing 2017</p>
		    </div>
		</footer>
		{% else %}
		<div class="container">
		    <h1>Please login first!</h1>
	  </div>
		{% endif %}
{% endblock %}
