{% extends "base.html" %}

{% block title %}BookCrossing{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated %}
		<div class="container" align="center">
		    <h2>发布图书，请输入ISBN号码</h2>
		    <p>图书ISBN号码，请到书籍封底页面查找</p></div>
		<div class="container" align="center">
		    <form class="form-inline" role="form">
		        <div class="row">
		            <div class="col-sm-2"></div>
		            <div class="col-sm-6"><input type="text" class="form-control" placeholder="请输入ISBN号码" name="isbn" style="margin-bottom: 15px; width: 99%"></div>
		            <div class="col-sm-2"><button type="submit" class="btn btn-success" name="search" value="Search" style="margin-bottom: 15px; width: 99%">发 布</button></div>
		            <div class="col-sm-2"></div>
		        </div>
            <div class="container">
							  <p style="color:red">{{ alert }}</p>
						</div>
		    </form>
		</div>
		<hr>
		<div class="container">
		    <div class="row">
		        <div class="col-sm-3" align="center" >
		            <h3 class="text-center ">图书详情</h3>
		            <img class="img-responsive img-rounded img-fluid" src="{{ image }}" alt="" >
		        </div>
		        <div class="col-sm-9">
		            <div class="card mt-4">
		                <div class="card-body">
		                    <h3 class="card-title">{{ title }}</h3>
		                    <h4>{{ author }}</h4>
		                    <span class="text-warning" style="color: orange">&#9733; &#9733; &#9733; &#9733; &#9734;</span>4.0 stars
		                    <p>出版社：{{ publisher }}<br />ISBN号：{{ isbns }}<br />豆瓣网链接：{{ alt }}<br /><p class="card-text text-warning">Tips：如果你对本书感兴趣，请微信与下方的图书发布人联系索取。</p></p>
		                </div>
		            </div>
		            <div class="card card-outline-secondary my-4">
		                <div class="card-header" style="margin-bottom: 10px; margin-top: 20px">
		                    <strong>图书发布人信息</strong>
		                </div>
		                <div class="card-body">
		                    <p><span class="label label-info" style="margin-right: 5px">昵称</span>发布人昵称：{{ username }}</p>
		                    <p><span class="label label-warning" style="margin-right: 5px">坐标</span>发布人坐标：{{ location }}</p>
		                    <p><span class="label label-success" style="margin-right: 5px">微信</span>发布人微信：{{ wechat }}</p>
		                    <hr>
		                    <div class="card-header" style="margin-bottom: 10px; margin-top: 20px">
		                        <strong>图书简介</strong>
		                    </div>
		                    <p>{{ summary }}</p>
		                    <small class="text-muted">Posted by Bookcrossing 2017</small>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<footer>
		    <div class="container">
		        <p class="text-center text-white">Copyright &copy; Bookcrossing 2017</p>
		    </div>
		</footer>
		{% else %}
		<div class="container">
		    <h1>Please login first!</h1>
	  </div>
		{% endif %}
{% endblock %}
